@import url(./styles/head.css);
@import url(./styles/font.css);
@import url(./styles/main.css);
@import url(./styles/instagram.css);
@import url(./styles/footer.css);

html{
    scroll-behavior: smooth;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 1500px;
    padding: 0;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
main{
    scroll-margin-top: 50px;
}