.footer{
    padding: 40px 100px;
    box-sizing: border-box;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot-nav{
    display: flex;
    gap: 80px;
    margin: 16px 0;
}
.foot-nav p{
    text-transform: uppercase;
    font-family: probold;
    letter-spacing: 8px;
    margin: 0;
    cursor: pointer;
}
.foot-nav a{
    text-transform: uppercase;
    font-family: probold;
    letter-spacing: 8px;
    color: black;
    transition: all 0.3s;
}
.foot-nav a:hover{
    color: rgb(255, 71, 71);
    transform: scale(1.1);
}
.foot-socials{
    display: flex;
    gap: 35px;
}
.foot-socials img{
    width: auto;
    height: 25px;
}
.foot-socials a{
    transition: all 0.3s;
}
.foot-socials a:hover{
    transform: scale(1.1);
}