header{
    background-image: url(../img/banner.png);
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.head-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.logo{
    display: flex;
    font-size: 35px;
    color: #797876;
    font-family: probold;
    background-color: white;
    padding: 20px 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-right: 15px;
}
.head-link{
    text-transform: uppercase;
    font-family: prosemi;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.head-link a{
    color: white;
    transition: all 0.3s ease;
}
.head-link a:hover{
    color: rgb(255, 71, 71);
    letter-spacing: 5px;
}

.head-name{
    text-align: center;
    margin-top: 320px;
}
.head-name h1{
    color: white;
    font-family: prolight;
    letter-spacing: 40px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 60px;
}
.head-name h2 a{
    text-transform: uppercase;
    color: rgb(255, 71, 71);
    letter-spacing: 15px;
    font-family: probold;
    font-size: 30px;
    display: inline-block;
    transition: all 0.3s;
}
.head-name h2 a:hover{
    transform: scale(1.06) translateY(-5px);
    text-shadow: 0 0 12px rgba(255, 71, 71, 0.8);
}
.head-arrow img{
    display: inline-block;
    margin-top: 280px;
    transition: all 0.3s;
}
.head-arrow img:hover{
    animation: jump 0.6s infinite alternate;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(5px);
    }
}

@media screen and (max-width: 768px) and (min-width: 424px){
    header{
        min-height: 100hv;
        background-size: cover;
    }
}