.instagram{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.instagram-grid{
    width: 100%;
}
.insta-track-wrapper{
    width: 100%;
    overflow: hidden;
}
.insta-track{
    display: flex;
    width: max-content;
    will-change: transform;
}
.instagram-item{
    width: 12,5%;
    position: relative;
    flex-shrink: 0;
}
.instagram-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.instagram-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 27, 27, 0.7);
}
.instagram-overlay h2{
    color: white;
    text-transform: uppercase;
    font-family: prolight;
    letter-spacing: 30px;
    font-weight: 400;
    font-size: 70px;
    transition: all 0.3s;
    cursor: pointer;
    filter: grayscale(60%) opacity(0.7);
}
.instagram:hover .instagram-overlay h2{
    transform: scale(1.03);
    filter: grayscale(0) opacity(1);
}
.instagram-overlay a{
    text-transform: uppercase;
    color: rgb(255, 71, 71);
    letter-spacing: 15px;
    font-family: probold;
    font-size: 30px;
    margin-top: -15px;
    margin-bottom: 80px;
    transition: all 0.3s;
}
.instagram:hover .instagram-overlay a{
    transform: scale(1.05) translateY(-5px);
}
.left{
    animation: scrollleft 25s linear infinite;
}
.right{
    animation: scrollright 25s linear infinite;
}
@keyframes scrollleft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes scrollright {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
.instagram:hover .insta-track{
    animation-play-state: paused;
}