.main-content{
    margin: 100px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "gourmet gourmet carhartt" "gourmet gourmet adidas" "deep palace tech";
    grid-template-rows: 350px 350px 550px;
    gap: 50px;
}
.gourmet{
    grid-area: gourmet;
}
.carhartt{
    grid-area: carhartt;
}
.adidas{
    grid-area: adidas;
    width: 440px;
}
.deep{
    grid-area: deep;
    width: 480px;
}
.palace{
    grid-area: palace;
    width: 480px;
}
.tech{
    grid-area: tech;
}
.main-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.main-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.main-item:hover img{
    transform: scale(1.05);
    filter: brightness(0.85);
}
.main-text{
    position: absolute;
    left: 30px;
    bottom: 20px;
    transition: all 0.3s;
}
.main-item:hover .main-text{
    transform: translateY(-8px);
}
.main-text h2 a{
    color: white;
    text-transform: uppercase;
    font-family: prolight;
    letter-spacing: 10px;
    font-weight: 400;
    font-size: 40px;
    transition: all 0.2s;
    display: inline-block;
}
.main-text h2 a:hover{
    color: rgb(255, 71, 71); 
    transform: scale(1.02);
}
.main-text img{
    width: auto;
    height: auto;
    max-width: 280px;
    object-fit: cover;
}
.main-text h2 a.gourmet-title{
    font-size: 60px;
    letter-spacing: 20px;
}

@media screen and (max-width: 768px) and (min-width: 424px) and (orientation: vertical){
    .main-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .gourmet, .carhartt, .adidas, .deep, .palace, .tech{
        width: 450px;
        max-width: 100%;
    }
}